<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>万元申万的</title> <!--页面标题-->
    <link rel="stylesheet" href="test.css">
</head>
<body>
<!-- 标题-->
<h1>测试页面</h1>
<p>段落</p> <br>
<a href="#tips" target="_blank">这是一个超链接 </a><br>
<img src="test.JPG" width="580" height="580" alt="这是一张图片"/> <br>
<table border="1" class="table_">
    <!-- 第一行-->
    <tr>
        <td>第一行</td>
        <td>香蕉</td>
        <td>林檎</td>
    </tr>
    <!-- 第二行-->
    <tr>
        <td>第二行</td>
        <td>香蕉</td>
        <td>林檎</td>
    </tr>
</table>
<p id="tips"><strong><i>这是一个加粗的 倾斜的 段落</i></strong></p><br>
<ul>
    <li>列表1</li>
    <li>别聊2</li>
</ul>
<!--输入元素-->
输入一个元素<input type="text" name="username" size="20"/> <br><br>
输入一个密码<input type="password" name="password" size="40"/>

<p>下面展示 单选按钮</p>
<input type="radio" name="yes" value="kotori"/>kotori<br/>
<input type="radio" name="yes" value="shizuru"/>shizuru<br/>

<p>下面展示 复选按钮</p>
<input type="checkbox" name="yes" value="kotori"/>kotori<br/>
<input type="checkbox" name="yes" value="shizuru"/>shizuru<br/>


下拉表单
<select name="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="fiat">Fiat</option>
    <option value="audi">Audi</option>
</select>
</body>
</html>