body {
    margin: 0;
    padding-top: 50px;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.create-vote-title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: #333;
}

.vote-container {
    font-family: "Microsoft YaHei UI", sans-serif;
}

.vote-title-input {
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.vote-description-input {
    width: 50%;
    min-width: 200px;
    height: 100px;
    overflow: auto;
    resize: none;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.vote-limit-item{
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.ticket-description{
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}


.add-vote-option-btn {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    background-color: lightpink;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.add-vote-option-btn:hover {
    background-color: pink;
}

.option {
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}


.vote-option-node {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}


.vote-option-input {
    width: 45%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.remove-option-btn {
    width: 10%;
    height: 10%;
    background-color: lightcoral;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-option-btn:hover {
    background-color: red;
}

.vote-limit {
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
    font-size: 16px;
}


.vote-limit-slider[type="range"]::-webkit-slider-thumb {
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.submit-vote-btn {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    background-color: deeppink;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-vote-btn:hover {
    background-color: hotpink;
}

.vote-limit-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}

.vote-limit-item {
    list-style: none;
    padding: 0;
}

.vote-time-container {
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.vote-limit-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.vote-time-item {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.vote-time-item input {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}


.editor-wrapper {
    border: 1px solid #ccc;
    z-index: 100;
}

.toolbar-container {
    border-bottom: 1px solid #ccc;
}

.editor-container {
    height: 500px;
}