
.modal {
    display: none;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close {
    cursor: pointer;
    font-size: 20px;
    float: right;
}

body {
    margin: 0;
    padding-top: 50px;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.vote-limit-description{
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    text-align: center;
}

.vote-limit-item-button-modal {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: deeppink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.vote-limit-item-button-modal:hover{
    background-color: hotpink;
    cursor: pointer;
}

.vote-limit-item-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.vote-limit-list-modal{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.vote-limit-item-modal p {
    margin: 0;
    flex: 1;
}

.vote-option-description {
    flex: 1;
    margin-right: 5px;
    font-size: 16px;
    color: #333;
}

.vote-count {
    font-size: 14px;
    color: #666;
    margin-left: 5px;
    margin-right: 5px;
}


.delete-vote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#delete-vote-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
}