<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/vote_detail.css"/>
    <link rel="stylesheet" href="/css/navigation_bar.css"/>
    <title>Title</title>
</head>
<body>
<!--顶部导航栏-->
<nav class="navbar">
</nav>
<script>
    fetch("/bar.html")
        .then(response => response.text())
        .then(html => {
            document.querySelector('.navbar').innerHTML = html;
        })
        .catch(error => {
            console.error("Error loading navigation bar:", error);
        });
</script>
<div class="vote-intro-container" id="vote-intro-container">
    <div class = "vote-intro-text-wrapper" id = "vote-intro-text-wrapper">
    <h2 class="vote-title" id="vote-title">投票标题</h2>
    <hr>
    <p class="vote-description" id="vote-description">投票描述</p>
    </div>
    <div class = "vote-time-wrapper" id="vote-time-wrapper">
        <ul class="vote-time-list" id="vote-time-list">
            <li class="vote-time-item" id="vote-start-time-item">
                <label for="vote-start-time">开始时间：</label>
                <span id="vote-start-time">2023-10-01 10:00</span>
            </li>
            <li class="vote-time-item" id="vote-end-time-item">
                <label for="vote-end-time">结束时间：</label>
                <span id="vote-end-time">2023-10-31 18:00</span>
            </li>
        </ul>
    </div>
    <div class = "vote-creator-wrapper">
        <label for="vote-creator">创建者：</label>
        <span id="vote-creator"></span>
    </div>
</div>



<div class="vote-option-container" id="vote-option-container">
    <ul class="vote-option-list" id="vote-option-list">
        <li class="vote-option-item" id="vote-option-item">
        </li>
    </ul>
</div>


<!-- 投票小窗 -->
<div id="vote-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <ul class = "vote-limit-list-modal" id = "vote-limit-list-modal">
        </ul>
    </div>
</div>

<div class="delete-vote-container" id="delete-vote-container">
    <button class="delete-vote-button" id="delete-vote-button">删除投票</button>
</div>

<script src="/js/vote_detail.js"></script>
<script src="/js/navigation_bar.js"></script>
</body>
</html>